.error {
    color: #e00b12;
    float: left;
}
.container {
    margin: 0 auto;
    width: 1300px;
    padding: 50px 10px;
}
.form{
    width: 500px;
    margin: 0 auto;
}
footer {
    width: 100%;
    text-align: center;
}
footer p {
    display: inline-block;
}
.header_title {
    text-align: center;
}
